   p{
     color: navy;
   }
   h3{
     font-size: 2.5em;
   }
   h2{
     font-size: 3em;
   }
   p{
     color: red;
   }

.doug{
  padding-left: 10px;
  padding-right: 10px;
}
.leo{
  font-size: .8em;
}
